/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    margin-top: 0;
}

p {
    width: 150px;
    margin: 0 auto;
}

.italic {
  font-style: italic;  
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("images/marikina-city.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;

}

.hero-header1{
    background-color: #1D3557;
    border-radius: 5px;
    width: 300px;
    height: 32px;
    padding: 3px 0 5px 0;
    margin: 0 auto;
    color: #fff
}

.hero-header2{
    background-color: #1D3557;
    border-radius: 5px;
    width: 600px;
    height: 42px;
    padding: 5px;
    margin: 25px auto 0 auto;
    color: #fff;
    font-size: 12px;
}

.to-do {
    background: #4D7C8A;
    margin: 0 auto;
    height: 480px;
    width: 100%;
    display: inline-block;
    color: #fff;
}

.to-do-header{
    margin: 55px 0 55px;
}

.to-do-images{
    display: flex;
    justify-content: space-around;
    margin: 35px 0 75px 0;
}

.to-do-images img{
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 100px;
}

.guide {
    width: 400px;
    height: 300px;
    margin: 55px auto 65px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #71B48D;
    color: #fff;
    box-shadow: 10px 10px #748386;
    border-radius: 8px;
}

.avatar {
    width: 200px;
    border: 5px solid #ffff; 
    border-radius: 100px;
}

img:hover {
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}
